@media only screen and (max-width: 1024px){
    .main__index{
        h1{
            font-size: 4em;
        }
        p{
            width: 60vw;
        }
    }
}

@media only screen and (max-width: 768px){
    .main__index{
        p{
            width: 70vw;
            font-size: 1.25em;
        }
    }
}

@media only screen and (max-width: 426px){
    .main__index{
        h1{
            font-size: 3em;
        }
        p{
            width: 95vw;
        }
    }
}