.main__index{
	background: url(../img/index_2.jpg) fixed;
    color: $text-claro;
    text-shadow: 1px 1px 2px black;
    h1{
        font-size: 6em;
    }
    p{
        width: 40vw;
        font-size: 1.25em;
        text-shadow: 1px 1px 2px black;
        text-align: justify;
    }
}

