.main__textos{
	background: url(../img/texto_fondo.jpg) fixed;
    .intro{
        @include flex_center(row);
        justify-content: space-around;
        align-items: flex-end;
        background: url(../img/texto_fondo-titulos.jpg);
        border-radius: 10px;
        }
    .container{
        padding-top: 1.5em;
    }
    .texto_titulo {
        a{
        position: relative;
        }
        h4{
            padding: 0.1em;
            font-size: 2.5em;
            position: absolute;
            bottom: 1em;
            left: 1em;
            background-color: #0005;
            color:$text-claro;
        }
    }
    .texto-content{
        background: url(../img/textos_fondo.jpg);
        .texto{
            font-weight: 400;
            text-align: justify;
            
        }
    }
}


